name: Catlog Service

on:
  push:
    paths:
      - catlog-service/**
    branches:
      - '**'
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      working-directory: ./catlog-service
    defaults:
      run:
        working-directory: ${{ env.working-directory }}
    steps:
      - uses: actions/checkout@v4

      - name: Make mvnw executable
        run: chmod +x mvnw
        working-directory: : ${{ env.working-directory }}

      - name: Setup Oracle JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'oracle'
          cache: 'maven'

      - name: Build with Maven
        run: ./mvnw -ntp verify
